$color-white:#fff;

.text-container{
    align-self: center;
    padding-top: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;

    backface-visibility: hidden;
}

.text-header1{
    font-size: 4rem;
    color: $color-white;
    font-weight: 900;
    border-bottom: white 1px solid;

    animation-name: moveUpper;
    animation-duration: 2s;
}

.text-header2{
    font-size: 2rem;
    color: $color-white;

    animation-name: moveUpper;
    animation-duration: 2s;
}

@keyframes moveUpper {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }

    75%{
        transform: translateY(20px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }

}
